* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --dark-green-color: rgb(7, 129, 19);
  --light-green-color: #059213;
  --whitish-milk-color: #f0f8f1;
  --light-brown-color: #D7CFD0;
  --white-color: #fff;
  --light-black-color: #000000;
  --dark-brown-color: #2b292a;
  --red-color: red;
  --light-pink: #F5E9E9;
  --light-grey-color:#D9D9D9;
  --dark-red-color: #922705;
}

.section-b-b {
  background-color: var(--light-brown-color);
  display: flex;
  flex-direction: column;
  height: 84.8vh;
  padding: 0 1%;
}

.section-b-b-body {
  background-color: var(--light-pink);
  width: 100%;
  height: 80%;
  display: flex;
  padding: 2%;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.left-body {
  display: flex;
  flex-direction: column;
}

.left-body-top {
  display: flex;
  align-items: center;
}

hr {
  border: 1px solid var(--light-black-color);
  width: 270px;
  margin: 10px 0;
}

.left-body-bottom {
  display: flex;
  flex-direction: column;
}

.profile-pic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.profile-pic img{
  max-width: 100px;
  width: 100%;
}

.profile-name, .matric-no {
  font-size: 1.2rem;
}

.profile-name {
  color: var(--light-green-color);
}

.matric-no {

}

.personal-document-ul, .academic-document-ul {
  list-style: none;
  margin-left: 20px;
}

li {
  padding: 10px 0;
}

.admin-ul li a {
  color: var(--light-green-color);
  text-decoration: none;
}

li a {
  text-decoration: none;
  color: var(--light-black-color);
  font-weight: 600;
}

li a:hover {
  color: var(--light-green-color);
}

.admin-ul li a:hover {
  color: var(--light-black-color);
}

.right-body {
  width: 50%;
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 3%;
}

.sub-sub-right-body {
  width: 50%;
}

.right-body p, .sub-sub-right-body p {
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.4rem;
}

.sub-right-body {
  display: flex;
  justify-content: space-between;
}

.file-view {
  display: flex;
  flex-direction: column;
}

.same-width {
  margin-right: 10px;
}

.file-display {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white-color);
}

.file-view .file-display {
  display: flex;
  border-radius: 10px;
}

.accept-reject-btn {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}

.accept-reject-btn a {
  text-decoration: none;
}

.accept-reject-btn .reject-btn {
  background-color: var(--dark-red-color);
}

.accept-reject-btn .reject-btn:hover {
  background-color: #531c0b;
}

.sub-left-body {
  position: relative;
  bottom: 100px;
  display: flex;
  flex-direction: column;
}


.active {
  color: var(--light-black-color);
}

.admin-ul li .admin-active {
  color: var(--light-black-color);
}

.admin-ul li p {
  color: var(--light-green-color);
  font-weight: 600;
}

.admin-ul li .matric-active {
  color: var(--light-black-color);
}

.student-link p a, .student-link-reject p a {
  text-decoration: none;
  color: var(--light-green-color);
}

.student-link p a:hover, .student-link-reject p a:hover {
  color: var(--light-black-color);
}

.sideber-link {
  width: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3px 0;
}

.sideber-link label {
  color: var(--light-green-color);
  font-weight: 600;
}

.verify-image {
  background: var(--light-grey-color);
  border-radius: 9px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2px 0;
}

.verify-image img {
  max-width: 150px;
  width: 100%;
}

.student-link-reject {
  
}

.green-notice {
  background-color: var(--white-color);
}

.green-notice, .red-notice {
  border-radius: 10px;
  padding: 3%;
  margin: 5px 0;
} 

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: var(--light-black-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  padding: 2%;
  max-width: 500px;
  width: 100%;
}

.modal textarea {
  background-color: var(--white-color);
  color: var(--light-black-color);
}

.modal-container .reject-btn {
  width: 50%;
  position: relative;
  left: 230px;
  background-color: var(--dark-red-color);
}

.modal-container .reject-btn:hover {
  background-color: #531c0b;
}

.red-notice {
  background-color: rgb(207, 207, 84);
}

.red-notice p {
  color:var(--red-color)
}

@media screen and (max-width: 1159px) {
  .sideber-link {
    width: 25%;
  }
}

@media screen and (max-width: 1055px) {
  .sideber-link {
    width: 33%;
  }
}

@media screen and (max-width: 920px) {
  .sideber-link {
    width: 50%;
  }

  .mobile-height {
    height: 100%;
  }
}

@media screen and (max-width: 720px) {
  .section-b-b-body {
    flex-direction: column;
    flex-flow: column-reverse;
  }

  .section-b-b {
    height: 100%;
  }

  .sub-section-b-b-body {
    height: 100%;
  }

  .left-body {
    width: 100%;

  }

  .sub-section-b-b {
    height: 85.8vh;
  }

  .mobile-height {
    height: 100%;
  }

  .sub-left-body {
    bottom: 0;
    width: 100%;
  }

  .right-body, .sub-sub-right-body {
    margin-bottom: 10px;
    width: 100%;
  }

  .modal-container .reject-btn {
    width: 45%;
    font-size: 0.8rem;
  }

  .modal {
    max-width: 450px;
    width: 100%;
  } 

  .accept-reject-btn button {
    width: 100%;
  }
}